USE [master]
GO
/****** Object:  Database [db_demo2]    Script Date: 29.04.2026 12:30:40 ******/
CREATE DATABASE [db_demo2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_demo2', FILENAME = N'C:\Users\Admin\Desktop\fh\SQL Manegment\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_demo2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_demo2_log', FILENAME = N'C:\Users\Admin\Desktop\fh\SQL Manegment\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_demo2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_demo2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_demo2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientCategories]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Password] [nvarchar](100) NULL,
	[ClientCategoryId] [int] NULL,
	[OrderCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishCategories]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[CategoryId] [int] NULL,
	[UnitOfMeasureId] [int] NULL,
	[CostRub] [decimal](10, 2) NULL,
	[MarkupPercent] [decimal](10, 2) NULL,
	[PriceRub] [decimal](10, 2) NULL,
	[CostPercent] [decimal](5, 2) NULL,
	[TechnicalCardId] [int] NULL,
	[FatsG] [decimal](8, 2) NULL,
	[ProteinsG] [decimal](8, 2) NULL,
	[CarbsG] [decimal](8, 2) NULL,
	[CaloriesKcal] [decimal](8, 2) NULL,
	[Kilojoules] [decimal](8, 2) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishToppings]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishToppings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToppingId] [int] NULL,
	[OrderDishItemId] [int] NULL,
	[Quantity] [decimal](8, 2) NULL,
	[FinalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrinkCategories]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrinkCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Quantity] [decimal](8, 2) NULL,
	[UnitOfMeasureId] [int] NULL,
	[CategoryId] [int] NULL,
	[CostRub] [decimal](10, 2) NULL,
	[MarkupPercent] [decimal](10, 2) NULL,
	[PriceRub] [decimal](10, 2) NULL,
	[CostPercent] [decimal](5, 2) NULL,
	[TechnicalCardId] [int] NULL,
	[FatsG] [decimal](8, 2) NULL,
	[ProteinsG] [decimal](8, 2) NULL,
	[CarbsG] [decimal](8, 2) NULL,
	[CaloriesKcal] [decimal](8, 2) NULL,
	[Kilojoules] [decimal](8, 2) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrinkToppings]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrinkToppings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToppingId] [int] NULL,
	[OrderDrinkItemId] [int] NULL,
	[Quantity] [decimal](8, 2) NULL,
	[FinalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientCategories]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Stock] [decimal](10, 2) NULL,
	[UnitOfMeasureId] [int] NULL,
	[CostRub] [decimal](10, 2) NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientWriteOffActItems]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientWriteOffActItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WriteOffActId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[UnitOfMeasureId] [int] NULL,
	[WriteOffTypeId] [int] NOT NULL,
 CONSTRAINT [PK_IngredientWriteOffActItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItemPortionLimits]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItemPortionLimits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemType] [nvarchar](16) NOT NULL,
	[ItemId] [int] NOT NULL,
	[RemainingPortions] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MenuItemPortionLimits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDishItems]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDishItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[DishId] [int] NULL,
	[Quantity] [decimal](8, 2) NULL,
	[FinalPrice] [decimal](10, 2) NULL,
	[IsCompleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDrinkItemModifiers]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDrinkItemModifiers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDrinkItemId] [int] NOT NULL,
	[MilkIngredientId] [int] NULL,
	[CoffeeIngredientId] [int] NULL,
 CONSTRAINT [PK_OrderDrinkItemModifiers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDrinkItems]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDrinkItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[DrinkId] [int] NULL,
	[Quantity] [decimal](8, 2) NULL,
	[FinalPrice] [decimal](10, 2) NULL,
	[IsCompleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ClientId] [int] NULL,
	[OrderTypeId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[TotalCalories] [decimal](10, 2) NULL,
	[DiscountId] [int] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[StatusID] [int] NULL,
	[PickupAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderToppingItems]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderToppingItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ToppingId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderToppingItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTypes]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preparations]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preparations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[SemiFinishedId] [int] NULL,
	[StockGrams] [decimal](10, 2) NULL,
	[ProductionDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreparationTasks]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreparationTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SemiFinishedId] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TaskText] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_PreparationTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SemiFinished]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemiFinished](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[CostRub] [decimal](10, 2) NULL,
	[CategoryId] [int] NULL,
	[UnitOfMeasureId] [int] NULL,
	[TechnicalCardId] [int] NULL,
	[FatsG] [decimal](8, 2) NULL,
	[ProteinsG] [decimal](8, 2) NULL,
	[CarbsG] [decimal](8, 2) NULL,
	[CaloriesKcal] [decimal](8, 2) NULL,
	[Kilojoules] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SemiFinishedCategories]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemiFinishedCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SemiFinishedWriteOffActItems]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemiFinishedWriteOffActItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WriteOffActId] [int] NOT NULL,
	[SemiFinishedId] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[UnitOfMeasureId] [int] NULL,
	[WriteOffTypeId] [int] NOT NULL,
 CONSTRAINT [PK_SemiFinishedWriteOffActItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[FullName] [nvarchar](255) NULL,
	[Login] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffRoles]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalCardIngredientComposition]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalCardIngredientComposition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TechnicalCardId] [int] NULL,
	[IngredientId] [int] NULL,
	[UnitOfMeasureId] [int] NULL,
	[GrossWeight] [decimal](10, 6) NULL,
	[ColdLossPercent] [decimal](10, 2) NULL,
	[NetWeight] [decimal](10, 6) NULL,
	[HotLossPercent] [decimal](10, 2) NULL,
	[OutputWeight] [decimal](10, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalCards]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalCardSemiFinishedComposition]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalCardSemiFinishedComposition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TechnicalCardId] [int] NULL,
	[SemiFinishedId] [int] NULL,
	[UnitOfMeasureId] [int] NULL,
	[GrossWeight] [decimal](10, 6) NULL,
	[ColdLossPercent] [decimal](10, 2) NULL,
	[NetWeight] [decimal](10, 6) NULL,
	[HotLossPercent] [decimal](10, 2) NULL,
	[OutputWeight] [decimal](10, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToppingCategories]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToppingCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToppingsAndSyrups]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToppingsAndSyrups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Quantity] [decimal](8, 2) NULL,
	[UnitOfMeasureId] [int] NULL,
	[CostRub] [decimal](10, 2) NULL,
	[MarkupPercent] [decimal](10, 2) NULL,
	[PriceRub] [decimal](10, 2) NULL,
	[CostPercent] [decimal](5, 2) NULL,
	[TechnicalCardId] [int] NULL,
	[FatsG] [decimal](8, 2) NULL,
	[ProteinsG] [decimal](8, 2) NULL,
	[CarbsG] [decimal](8, 2) NULL,
	[CaloriesKcal] [decimal](8, 2) NULL,
	[Kilojoules] [decimal](8, 2) NULL,
	[CategoryID] [int] NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitsOfMeasure]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitsOfMeasure](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOffActs]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOffActs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[StaffId] [int] NULL,
 CONSTRAINT [PK_WriteOffActs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOffTypes]    Script Date: 29.04.2026 12:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOffTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_WriteOffTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260305143433_Baseline_ExistingSchema', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260305143616_AddIsAvailableStopList', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260309154559_AddOrderStatusesStatusId', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[ClientCategories] ON 

INSERT [dbo].[ClientCategories] ([Id], [Name]) VALUES (1, N'Новый')
INSERT [dbo].[ClientCategories] ([Id], [Name]) VALUES (2, N'Постоянный')
INSERT [dbo].[ClientCategories] ([Id], [Name]) VALUES (3, N'Особый')
SET IDENTITY_INSERT [dbo].[ClientCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [FullName], [PhoneNumber], [Password], [ClientCategoryId], [OrderCount]) VALUES (16, N'test1', N'79991234567', N'123', 2, 93)
INSERT [dbo].[Clients] ([Id], [FullName], [PhoneNumber], [Password], [ClientCategoryId], [OrderCount]) VALUES (17, N'Simon', N'79130615770', N'123', 1, 0)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([Id], [Name], [DiscountPercent]) VALUES (1, N'Для новых клиентов', CAST(15.00 AS Decimal(5, 2)))
INSERT [dbo].[Discounts] ([Id], [Name], [DiscountPercent]) VALUES (2, N'Для постоянных клиентов', CAST(7.00 AS Decimal(5, 2)))
INSERT [dbo].[Discounts] ([Id], [Name], [DiscountPercent]) VALUES (3, N'Для особых клиентов', CAST(20.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[DishCategories] ON 

INSERT [dbo].[DishCategories] ([Id], [Name]) VALUES (1, N'Боулы')
INSERT [dbo].[DishCategories] ([Id], [Name]) VALUES (2, N'Вафли')
INSERT [dbo].[DishCategories] ([Id], [Name]) VALUES (3, N'Витрина')
SET IDENTITY_INSERT [dbo].[DishCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([Id], [Name], [CategoryId], [UnitOfMeasureId], [CostRub], [MarkupPercent], [PriceRub], [CostPercent], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules], [ImageUrl], [IsAvailable]) VALUES (1, N'Боул с креветкой, нутом, киноа, авокадо', 12, 1, CAST(186.47 AS Decimal(10, 2)), CAST(221.23 AS Decimal(10, 2)), CAST(599.00 AS Decimal(10, 2)), CAST(31.13 AS Decimal(5, 2)), NULL, CAST(24.00 AS Decimal(8, 2)), CAST(12.00 AS Decimal(8, 2)), CAST(22.00 AS Decimal(8, 2)), CAST(350.00 AS Decimal(8, 2)), CAST(1470.00 AS Decimal(8, 2)), N'photo1.png', 1)
INSERT [dbo].[Dishes] ([Id], [Name], [CategoryId], [UnitOfMeasureId], [CostRub], [MarkupPercent], [PriceRub], [CostPercent], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules], [ImageUrl], [IsAvailable]) VALUES (2, N'Боул с тофу, нутом, киноа, авокадо', 12, 1, CAST(139.55 AS Decimal(10, 2)), CAST(264.74 AS Decimal(10, 2)), CAST(509.00 AS Decimal(10, 2)), CAST(27.42 AS Decimal(5, 2)), NULL, CAST(17.00 AS Decimal(8, 2)), CAST(10.00 AS Decimal(8, 2)), CAST(19.00 AS Decimal(8, 2)), CAST(270.00 AS Decimal(8, 2)), CAST(1120.00 AS Decimal(8, 2)), NULL, 1)
INSERT [dbo].[Dishes] ([Id], [Name], [CategoryId], [UnitOfMeasureId], [CostRub], [MarkupPercent], [PriceRub], [CostPercent], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules], [ImageUrl], [IsAvailable]) VALUES (3, N'Безглютеновая  вафля с креветкой и яйцом пашот', 2, 1, CAST(102.44 AS Decimal(10, 2)), CAST(348.07 AS Decimal(10, 2)), CAST(459.00 AS Decimal(10, 2)), CAST(22.32 AS Decimal(5, 2)), 442, CAST(24.00 AS Decimal(8, 2)), CAST(15.00 AS Decimal(8, 2)), CAST(11.00 AS Decimal(8, 2)), CAST(320.00 AS Decimal(8, 2)), CAST(1340.00 AS Decimal(8, 2)), NULL, 0)
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[DishToppings] ON 

INSERT [dbo].[DishToppings] ([Id], [ToppingId], [OrderDishItemId], [Quantity], [FinalPrice]) VALUES (5, 22, 21, CAST(1.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DishToppings] ([Id], [ToppingId], [OrderDishItemId], [Quantity], [FinalPrice]) VALUES (6, 22, 22, CAST(1.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DishToppings] ([Id], [ToppingId], [OrderDishItemId], [Quantity], [FinalPrice]) VALUES (7, 14, 23, CAST(2.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[DishToppings] OFF
GO
SET IDENTITY_INSERT [dbo].[DrinkCategories] ON 

INSERT [dbo].[DrinkCategories] ([Id], [Name]) VALUES (1, N'Кофе')
INSERT [dbo].[DrinkCategories] ([Id], [Name]) VALUES (2, N'Не кофе')
INSERT [dbo].[DrinkCategories] ([Id], [Name]) VALUES (3, N'Фреши')
SET IDENTITY_INSERT [dbo].[DrinkCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Drinks] ON 

SET IDENTITY_INSERT [dbo].[Drinks] OFF
GO
SET IDENTITY_INSERT [dbo].[DrinkToppings] ON 

INSERT [dbo].[DrinkToppings] ([Id], [ToppingId], [OrderDrinkItemId], [Quantity], [FinalPrice]) VALUES (3, 12, 4, CAST(1.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DrinkToppings] ([Id], [ToppingId], [OrderDrinkItemId], [Quantity], [FinalPrice]) VALUES (4, 17, 4, CAST(1.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DrinkToppings] ([Id], [ToppingId], [OrderDrinkItemId], [Quantity], [FinalPrice]) VALUES (5, 18, 4, CAST(1.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DrinkToppings] OFF
GO
SET IDENTITY_INSERT [dbo].[IngredientCategories] ON 

INSERT [dbo].[IngredientCategories] ([Id], [Name]) VALUES (1, N'Грибы')
INSERT [dbo].[IngredientCategories] ([Id], [Name]) VALUES (2, N'Кофе')
INSERT [dbo].[IngredientCategories] ([Id], [Name]) VALUES (3, N'Животное происхождение')
SET IDENTITY_INSERT [dbo].[IngredientCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([Id], [Name], [Stock], [UnitOfMeasureId], [CostRub], [CategoryId]) VALUES (1, N'Кофе Бразилия зерно молочка', CAST(10.23 AS Decimal(10, 2)), 5, CAST(1654.94 AS Decimal(10, 2)), 2)
INSERT [dbo].[Ingredients] ([Id], [Name], [Stock], [UnitOfMeasureId], [CostRub], [CategoryId]) VALUES (2, N'Кофе Бразилия Колумбия черный', CAST(0.00 AS Decimal(10, 2)), 5, NULL, 2)
INSERT [dbo].[Ingredients] ([Id], [Name], [Stock], [UnitOfMeasureId], [CostRub], [CategoryId]) VALUES (3, N'Кофе в зернах ТАВ 200г', CAST(0.00 AS Decimal(10, 2)), 4, CAST(327.86 AS Decimal(10, 2)), 2)
GO
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[IngredientWriteOffActItems] ON 

INSERT [dbo].[IngredientWriteOffActItems] ([Id], [WriteOffActId], [IngredientId], [Quantity], [UnitOfMeasureId], [WriteOffTypeId]) VALUES (1, 1, 26, CAST(4.00 AS Decimal(10, 2)), 4, 2)
INSERT [dbo].[IngredientWriteOffActItems] ([Id], [WriteOffActId], [IngredientId], [Quantity], [UnitOfMeasureId], [WriteOffTypeId]) VALUES (2, 1, 57, CAST(0.01 AS Decimal(10, 2)), 5, 2)
INSERT [dbo].[IngredientWriteOffActItems] ([Id], [WriteOffActId], [IngredientId], [Quantity], [UnitOfMeasureId], [WriteOffTypeId]) VALUES (3, 2, 176, CAST(0.50 AS Decimal(10, 2)), 5, 1)
SET IDENTITY_INSERT [dbo].[IngredientWriteOffActItems] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItemPortionLimits] ON 

INSERT [dbo].[MenuItemPortionLimits] ([Id], [ItemType], [ItemId], [RemainingPortions], [CreatedAt], [UpdatedAt]) VALUES (5, N'dish', 24, CAST(6.00 AS Decimal(10, 2)), CAST(N'2026-04-29T12:26:09.2877159' AS DateTime2), CAST(N'2026-04-29T12:26:09.2877159' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MenuItemPortionLimits] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDishItems] ON 

INSERT [dbo].[OrderDishItems] ([Id], [OrderId], [DishId], [Quantity], [FinalPrice], [IsCompleted]) VALUES (20, 12, 11, CAST(1.00 AS Decimal(8, 2)), CAST(179.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[OrderDishItems] ([Id], [OrderId], [DishId], [Quantity], [FinalPrice], [IsCompleted]) VALUES (21, 13, 24, CAST(1.00 AS Decimal(8, 2)), CAST(319.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[OrderDishItems] ([Id], [OrderId], [DishId], [Quantity], [FinalPrice], [IsCompleted]) VALUES (22, 14, 24, CAST(1.00 AS Decimal(8, 2)), CAST(319.00 AS Decimal(10, 2)), 0)
GO
SET IDENTITY_INSERT [dbo].[OrderDishItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDrinkItemModifiers] ON 

INSERT [dbo].[OrderDrinkItemModifiers] ([Id], [OrderDrinkItemId], [MilkIngredientId], [CoffeeIngredientId]) VALUES (1, 9, NULL, NULL)
INSERT [dbo].[OrderDrinkItemModifiers] ([Id], [OrderDrinkItemId], [MilkIngredientId], [CoffeeIngredientId]) VALUES (71, 79, 113, 6)
INSERT [dbo].[OrderDrinkItemModifiers] ([Id], [OrderDrinkItemId], [MilkIngredientId], [CoffeeIngredientId]) VALUES (72, 80, 113, 8)
SET IDENTITY_INSERT [dbo].[OrderDrinkItemModifiers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDrinkItems] ON 

INSERT [dbo].[OrderDrinkItems] ([Id], [OrderId], [DrinkId], [Quantity], [FinalPrice], [IsCompleted]) VALUES (4, 15, 3, CAST(1.00 AS Decimal(8, 2)), CAST(239.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[OrderDrinkItems] ([Id], [OrderId], [DrinkId], [Quantity], [FinalPrice], [IsCompleted]) VALUES (5, 16, 3, CAST(1.00 AS Decimal(8, 2)), CAST(239.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[OrderDrinkItems] ([Id], [OrderId], [DrinkId], [Quantity], [FinalPrice], [IsCompleted]) VALUES (9, 27, 3, CAST(1.00 AS Decimal(8, 2)), CAST(239.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[OrderDrinkItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CreatedAt], [ClientId], [OrderTypeId], [Comment], [TotalCalories], [DiscountId], [TotalPrice], [StatusID], [PickupAt]) VALUES (9, CAST(N'2026-03-02T17:11:59.2292077' AS DateTime2), 16, 1, NULL, CAST(1.00 AS Decimal(10, 2)), 1, CAST(0.00 AS Decimal(10, 2)), 2, NULL)
INSERT [dbo].[Orders] ([Id], [CreatedAt], [ClientId], [OrderTypeId], [Comment], [TotalCalories], [DiscountId], [TotalPrice], [StatusID], [PickupAt]) VALUES (10, CAST(N'2026-03-02T17:12:18.9983022' AS DateTime2), 16, 2, N'Я очень хочу какать', CAST(0.00 AS Decimal(10, 2)), 1, CAST(0.00 AS Decimal(10, 2)), 2, NULL)
INSERT [dbo].[Orders] ([Id], [CreatedAt], [ClientId], [OrderTypeId], [Comment], [TotalCalories], [DiscountId], [TotalPrice], [StatusID], [PickupAt]) VALUES (11, CAST(N'2026-03-05T10:17:12.8234781' AS DateTime2), 16, 1, NULL, CAST(1.00 AS Decimal(10, 2)), 1, CAST(0.00 AS Decimal(10, 2)), 2, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([Id], [Name]) VALUES (1, N'В процессе')
INSERT [dbo].[OrderStatuses] ([Id], [Name]) VALUES (2, N'Отменен')
INSERT [dbo].[OrderStatuses] ([Id], [Name]) VALUES (3, N'Готов')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderToppingItems] ON 

INSERT [dbo].[OrderToppingItems] ([Id], [OrderId], [ToppingId], [Quantity], [TotalPrice], [IsCompleted]) VALUES (8, 9, 1, 1, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[OrderToppingItems] ([Id], [OrderId], [ToppingId], [Quantity], [TotalPrice], [IsCompleted]) VALUES (9, 10, 3, 1, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[OrderToppingItems] ([Id], [OrderId], [ToppingId], [Quantity], [TotalPrice], [IsCompleted]) VALUES (10, 11, 1, 1, CAST(0.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[OrderToppingItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderTypes] ON 

INSERT [dbo].[OrderTypes] ([Id], [Name]) VALUES (1, N'В ресторане')
INSERT [dbo].[OrderTypes] ([Id], [Name]) VALUES (2, N'С собой')
SET IDENTITY_INSERT [dbo].[OrderTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Preparations] ON 

INSERT [dbo].[Preparations] ([Id], [Name], [SemiFinishedId], [StockGrams], [ProductionDate]) VALUES (6, N' Майонез ', 57, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2026-04-14' AS Date))
INSERT [dbo].[Preparations] ([Id], [Name], [SemiFinishedId], [StockGrams], [ProductionDate]) VALUES (8, N' Тесто на чечевич.вафлю ', 35, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2026-04-14' AS Date))
INSERT [dbo].[Preparations] ([Id], [Name], [SemiFinishedId], [StockGrams], [ProductionDate]) VALUES (10, N' Кокосовая сгущенка ', 44, CAST(940.00 AS Decimal(10, 2)), CAST(N'2026-04-06' AS Date))
SET IDENTITY_INSERT [dbo].[Preparations] OFF
GO
SET IDENTITY_INSERT [dbo].[PreparationTasks] ON 

INSERT [dbo].[PreparationTasks] ([Id], [SemiFinishedId], [Comment], [CreatedAt], [TaskText]) VALUES (73, 44, N'Рекомендовано системой: скрыто до 2026-04-30', CAST(N'2026-04-29T12:03:46.5158701' AS DateTime2), N' Кокосовая сгущенка ')
INSERT [dbo].[PreparationTasks] ([Id], [SemiFinishedId], [Comment], [CreatedAt], [TaskText]) VALUES (76, 35, N'Рекомендовано системой: скрыто до 2026-04-30', CAST(N'2026-04-29T12:03:45.3216023' AS DateTime2), N' Тесто на чечевич.вафлю ')
INSERT [dbo].[PreparationTasks] ([Id], [SemiFinishedId], [Comment], [CreatedAt], [TaskText]) VALUES (77, 57, N'Рекомендовано системой: скрыто до 2026-04-30', CAST(N'2026-04-29T12:03:43.3459631' AS DateTime2), N' Майонез ')
SET IDENTITY_INSERT [dbo].[PreparationTasks] OFF
GO
SET IDENTITY_INSERT [dbo].[SemiFinished] ON 

INSERT [dbo].[SemiFinished] ([Id], [Name], [CostRub], [CategoryId], [UnitOfMeasureId], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules]) VALUES (6, N' Кешью замоченный ', CAST(735.68 AS Decimal(10, 2)), 12, 5, 103, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SemiFinished] ([Id], [Name], [CostRub], [CategoryId], [UnitOfMeasureId], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules]) VALUES (9, N' Орехи с чесноком ', CAST(345.42 AS Decimal(10, 2)), 12, 5, 232, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SemiFinished] ([Id], [Name], [CostRub], [CategoryId], [UnitOfMeasureId], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules]) VALUES (10, N' Семена подсолнечника ', CAST(86.68 AS Decimal(10, 2)), 12, 5, 275, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SemiFinished] OFF
GO
SET IDENTITY_INSERT [dbo].[SemiFinishedCategories] ON 

INSERT [dbo].[SemiFinishedCategories] ([Id], [Name]) VALUES (1, N'Зелень')
INSERT [dbo].[SemiFinishedCategories] ([Id], [Name]) VALUES (2, N'Заморозка')
INSERT [dbo].[SemiFinishedCategories] ([Id], [Name]) VALUES (3, N'Мясо')
SET IDENTITY_INSERT [dbo].[SemiFinishedCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[SemiFinishedWriteOffActItems] ON 

INSERT [dbo].[SemiFinishedWriteOffActItems] ([Id], [WriteOffActId], [SemiFinishedId], [Quantity], [UnitOfMeasureId], [WriteOffTypeId]) VALUES (1, 2, 44, CAST(50.00 AS Decimal(10, 2)), 2, 2)
SET IDENTITY_INSERT [dbo].[SemiFinishedWriteOffActItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [RoleId], [FullName], [Login], [Password]) VALUES (1, 1, N'Косухин Семён', N'cook', N'123')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffRoles] ON 

INSERT [dbo].[StaffRoles] ([Id], [Name]) VALUES (1, N'Повар')
INSERT [dbo].[StaffRoles] ([Id], [Name]) VALUES (2, N'Администратор')
INSERT [dbo].[StaffRoles] ([Id], [Name]) VALUES (3, N'Бариста')
SET IDENTITY_INSERT [dbo].[StaffRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[TechnicalCardIngredientComposition] ON 

INSERT [dbo].[TechnicalCardIngredientComposition] ([Id], [TechnicalCardId], [IngredientId], [UnitOfMeasureId], [GrossWeight], [ColdLossPercent], [NetWeight], [HotLossPercent], [OutputWeight]) VALUES (4, 14, 237, 5, CAST(0.651042 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.651000 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.651000 AS Decimal(10, 6)))
INSERT [dbo].[TechnicalCardIngredientComposition] ([Id], [TechnicalCardId], [IngredientId], [UnitOfMeasureId], [GrossWeight], [ColdLossPercent], [NetWeight], [HotLossPercent], [OutputWeight]) VALUES (6, 21, 240, 5, CAST(0.004054 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.004000 AS Decimal(10, 6)), CAST(100.00 AS Decimal(10, 2)), CAST(0.000000 AS Decimal(10, 6)))
INSERT [dbo].[TechnicalCardIngredientComposition] ([Id], [TechnicalCardId], [IngredientId], [UnitOfMeasureId], [GrossWeight], [ColdLossPercent], [NetWeight], [HotLossPercent], [OutputWeight]) VALUES (10, 26, 256, 5, CAST(1.700000 AS Decimal(10, 6)), CAST(41.18 AS Decimal(10, 2)), CAST(1.000000 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(1.000000 AS Decimal(10, 6)))
SET IDENTITY_INSERT [dbo].[TechnicalCardIngredientComposition] OFF
GO
SET IDENTITY_INSERT [dbo].[TechnicalCards] ON 

INSERT [dbo].[TechnicalCards] ([Id], [Name], [Description]) VALUES (9, N'+ Апельсин очищенный п/ф', N'+ Апельсин очищенный п/ф')
INSERT [dbo].[TechnicalCards] ([Id], [Name], [Description]) VALUES (11, N'+ Апельсиновые чипсы сушеные п/ф', N'+ Апельсиновые чипсы сушеные п/ф')
INSERT [dbo].[TechnicalCards] ([Id], [Name], [Description]) VALUES (14, N'+ Апельсиновый сироп п/ф', N'+ Апельсиновый сироп п/ф')
GO
SET IDENTITY_INSERT [dbo].[TechnicalCards] OFF
GO
SET IDENTITY_INSERT [dbo].[TechnicalCardSemiFinishedComposition] ON 

INSERT [dbo].[TechnicalCardSemiFinishedComposition] ([Id], [TechnicalCardId], [SemiFinishedId], [UnitOfMeasureId], [GrossWeight], [ColdLossPercent], [NetWeight], [HotLossPercent], [OutputWeight]) VALUES (12, 14, 286, 5, CAST(0.348958 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.349000 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.349000 AS Decimal(10, 6)))
INSERT [dbo].[TechnicalCardSemiFinishedComposition] ([Id], [TechnicalCardId], [SemiFinishedId], [UnitOfMeasureId], [GrossWeight], [ColdLossPercent], [NetWeight], [HotLossPercent], [OutputWeight]) VALUES (17, 21, 15, 5, CAST(0.472973 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.473000 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.473000 AS Decimal(10, 6)))
INSERT [dbo].[TechnicalCardSemiFinishedComposition] ([Id], [TechnicalCardId], [SemiFinishedId], [UnitOfMeasureId], [GrossWeight], [ColdLossPercent], [NetWeight], [HotLossPercent], [OutputWeight]) VALUES (18, 21, 287, 5, CAST(0.222973 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.223000 AS Decimal(10, 6)), CAST(0.00 AS Decimal(10, 2)), CAST(0.223000 AS Decimal(10, 6)))
GO
SET IDENTITY_INSERT [dbo].[TechnicalCardSemiFinishedComposition] OFF
GO
SET IDENTITY_INSERT [dbo].[ToppingCategories] ON 

INSERT [dbo].[ToppingCategories] ([id], [name]) VALUES (1, N'К блюдам')
INSERT [dbo].[ToppingCategories] ([id], [name]) VALUES (2, N'К напиткам')
INSERT [dbo].[ToppingCategories] ([id], [name]) VALUES (4, N'Неактивные')
SET IDENTITY_INSERT [dbo].[ToppingCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ToppingsAndSyrups] ON 

INSERT [dbo].[ToppingsAndSyrups] ([Id], [Name], [Quantity], [UnitOfMeasureId], [CostRub], [MarkupPercent], [PriceRub], [CostPercent], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules], [CategoryID], [IsAvailable]) VALUES (1, N'Авокадо крем', CAST(30.00 AS Decimal(8, 2)), 2, CAST(26.28 AS Decimal(10, 2)), CAST(177.78 AS Decimal(10, 2)), NULL, CAST(36.00 AS Decimal(5, 2)), NULL, CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(1.00 AS Decimal(8, 2)), CAST(1.00 AS Decimal(8, 2)), 1, 1)
INSERT [dbo].[ToppingsAndSyrups] ([Id], [Name], [Quantity], [UnitOfMeasureId], [CostRub], [MarkupPercent], [PriceRub], [CostPercent], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules], [CategoryID], [IsAvailable]) VALUES (2, N'Апельсин', CAST(40.00 AS Decimal(8, 2)), 2, CAST(6.99 AS Decimal(10, 2)), CAST(186.12 AS Decimal(10, 2)), NULL, CAST(34.95 AS Decimal(5, 2)), NULL, CAST(0.10 AS Decimal(8, 2)), CAST(0.40 AS Decimal(8, 2)), CAST(3.00 AS Decimal(8, 2)), CAST(15.00 AS Decimal(8, 2)), CAST(65.00 AS Decimal(8, 2)), 4, 1)
INSERT [dbo].[ToppingsAndSyrups] ([Id], [Name], [Quantity], [UnitOfMeasureId], [CostRub], [MarkupPercent], [PriceRub], [CostPercent], [TechnicalCardId], [FatsG], [ProteinsG], [CarbsG], [CaloriesKcal], [Kilojoules], [CategoryID], [IsAvailable]) VALUES (3, N'Апельсиновый сироп', CAST(20.00 AS Decimal(8, 2)), 2, CAST(4.98 AS Decimal(10, 2)), CAST(683.13 AS Decimal(10, 2)), NULL, CAST(12.77 AS Decimal(5, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[ToppingsAndSyrups] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitsOfMeasure] ON 

INSERT [dbo].[UnitsOfMeasure] ([Id], [Name]) VALUES (1, N'Порция')
INSERT [dbo].[UnitsOfMeasure] ([Id], [Name]) VALUES (2, N'Граммы')
INSERT [dbo].[UnitsOfMeasure] ([Id], [Name]) VALUES (3, N'Миллилитры')
SET IDENTITY_INSERT [dbo].[UnitsOfMeasure] OFF
GO
SET IDENTITY_INSERT [dbo].[WriteOffActs] ON 

INSERT [dbo].[WriteOffActs] ([Id], [Date], [Comment], [StaffId]) VALUES (1, CAST(N'2026-04-27T00:00:00.0000000' AS DateTime2), N'сожрали все гады', 1)
INSERT [dbo].[WriteOffActs] ([Id], [Date], [Comment], [StaffId]) VALUES (2, CAST(N'2026-04-29T00:00:00.0000000' AS DateTime2), NULL, 1)
INSERT [dbo].[WriteOffActs] ([Id], [Date], [Comment], [StaffId]) VALUES (3, CAST(N'2026-04-29T00:00:00.0000000' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[WriteOffActs] OFF
GO
SET IDENTITY_INSERT [dbo].[WriteOffTypes] ON 

INSERT [dbo].[WriteOffTypes] ([Id], [Name]) VALUES (1, N'Порча')
INSERT [dbo].[WriteOffTypes] ([Id], [Name]) VALUES (2, N'Питание персонала')
INSERT [dbo].[WriteOffTypes] ([Id], [Name]) VALUES (3, N'Брокераж')
SET IDENTITY_INSERT [dbo].[WriteOffTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clients_PhoneNumber]    Script Date: 29.04.2026 12:30:40 ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ_Clients_PhoneNumber] UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IngredientWriteOffActItems_IngredientId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_IngredientWriteOffActItems_IngredientId] ON [dbo].[IngredientWriteOffActItems]
(
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IngredientWriteOffActItems_UnitOfMeasureId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_IngredientWriteOffActItems_UnitOfMeasureId] ON [dbo].[IngredientWriteOffActItems]
(
	[UnitOfMeasureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IngredientWriteOffActItems_WriteOffActId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_IngredientWriteOffActItems_WriteOffActId] ON [dbo].[IngredientWriteOffActItems]
(
	[WriteOffActId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IngredientWriteOffActItems_WriteOffTypeId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_IngredientWriteOffActItems_WriteOffTypeId] ON [dbo].[IngredientWriteOffActItems]
(
	[WriteOffTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_MenuItemPortionLimits_ItemType_ItemId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_MenuItemPortionLimits_ItemType_ItemId] ON [dbo].[MenuItemPortionLimits]
(
	[ItemType] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDrinkItemModifiers_CoffeeIngredientId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDrinkItemModifiers_CoffeeIngredientId] ON [dbo].[OrderDrinkItemModifiers]
(
	[CoffeeIngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDrinkItemModifiers_MilkIngredientId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDrinkItemModifiers_MilkIngredientId] ON [dbo].[OrderDrinkItemModifiers]
(
	[MilkIngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_OrderDrinkItemModifiers_OrderDrinkItemId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_OrderDrinkItemModifiers_OrderDrinkItemId] ON [dbo].[OrderDrinkItemModifiers]
(
	[OrderDrinkItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_StatusID]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_StatusID] ON [dbo].[Orders]
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreparationTasks_SemiFinishedId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_PreparationTasks_SemiFinishedId] ON [dbo].[PreparationTasks]
(
	[SemiFinishedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemiFinishedWriteOffActItems_SemiFinishedId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_SemiFinishedWriteOffActItems_SemiFinishedId] ON [dbo].[SemiFinishedWriteOffActItems]
(
	[SemiFinishedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemiFinishedWriteOffActItems_UnitOfMeasureId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_SemiFinishedWriteOffActItems_UnitOfMeasureId] ON [dbo].[SemiFinishedWriteOffActItems]
(
	[UnitOfMeasureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemiFinishedWriteOffActItems_WriteOffActId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_SemiFinishedWriteOffActItems_WriteOffActId] ON [dbo].[SemiFinishedWriteOffActItems]
(
	[WriteOffActId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemiFinishedWriteOffActItems_WriteOffTypeId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_SemiFinishedWriteOffActItems_WriteOffTypeId] ON [dbo].[SemiFinishedWriteOffActItems]
(
	[WriteOffTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_Login]    Script Date: 29.04.2026 12:30:40 ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ_Staff_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WriteOffActs_Date]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_WriteOffActs_Date] ON [dbo].[WriteOffActs]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WriteOffActs_StaffId]    Script Date: 29.04.2026 12:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_WriteOffActs_StaffId] ON [dbo].[WriteOffActs]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dishes] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Drinks] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[OrderDishItems] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[OrderDrinkItems] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[OrderToppingItems] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[ToppingsAndSyrups] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_ClientCategories] FOREIGN KEY([ClientCategoryId])
REFERENCES [dbo].[ClientCategories] ([Id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_ClientCategories]
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_DishCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[DishCategories] ([Id])
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_DishCategories]
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_TechnicalCards] FOREIGN KEY([TechnicalCardId])
REFERENCES [dbo].[TechnicalCards] ([Id])
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_TechnicalCards]
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[DishToppings]  WITH CHECK ADD  CONSTRAINT [FK_DishToppings_OrderDishItems] FOREIGN KEY([OrderDishItemId])
REFERENCES [dbo].[OrderDishItems] ([Id])
GO
ALTER TABLE [dbo].[DishToppings] CHECK CONSTRAINT [FK_DishToppings_OrderDishItems]
GO
ALTER TABLE [dbo].[DishToppings]  WITH CHECK ADD  CONSTRAINT [FK_DishToppings_Toppings] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[ToppingsAndSyrups] ([Id])
GO
ALTER TABLE [dbo].[DishToppings] CHECK CONSTRAINT [FK_DishToppings_Toppings]
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD  CONSTRAINT [FK_Drinks_DrinkCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[DrinkCategories] ([Id])
GO
ALTER TABLE [dbo].[Drinks] CHECK CONSTRAINT [FK_Drinks_DrinkCategories]
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD  CONSTRAINT [FK_Drinks_TechnicalCards] FOREIGN KEY([TechnicalCardId])
REFERENCES [dbo].[TechnicalCards] ([Id])
GO
ALTER TABLE [dbo].[Drinks] CHECK CONSTRAINT [FK_Drinks_TechnicalCards]
GO
ALTER TABLE [dbo].[Drinks]  WITH CHECK ADD  CONSTRAINT [FK_Drinks_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[Drinks] CHECK CONSTRAINT [FK_Drinks_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[DrinkToppings]  WITH CHECK ADD  CONSTRAINT [FK_DrinkToppings_OrderDrinkItems] FOREIGN KEY([OrderDrinkItemId])
REFERENCES [dbo].[OrderDrinkItems] ([Id])
GO
ALTER TABLE [dbo].[DrinkToppings] CHECK CONSTRAINT [FK_DrinkToppings_OrderDrinkItems]
GO
ALTER TABLE [dbo].[DrinkToppings]  WITH CHECK ADD  CONSTRAINT [FK_DrinkToppings_Toppings] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[ToppingsAndSyrups] ([Id])
GO
ALTER TABLE [dbo].[DrinkToppings] CHECK CONSTRAINT [FK_DrinkToppings_Toppings]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_IngredientCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[IngredientCategories] ([Id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_IngredientCategories]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_IngredientWriteOffActItems_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems] CHECK CONSTRAINT [FK_IngredientWriteOffActItems_Ingredients]
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_IngredientWriteOffActItems_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems] CHECK CONSTRAINT [FK_IngredientWriteOffActItems_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_IngredientWriteOffActItems_WriteOffActs] FOREIGN KEY([WriteOffActId])
REFERENCES [dbo].[WriteOffActs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems] CHECK CONSTRAINT [FK_IngredientWriteOffActItems_WriteOffActs]
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_IngredientWriteOffActItems_WriteOffTypes] FOREIGN KEY([WriteOffTypeId])
REFERENCES [dbo].[WriteOffTypes] ([Id])
GO
ALTER TABLE [dbo].[IngredientWriteOffActItems] CHECK CONSTRAINT [FK_IngredientWriteOffActItems_WriteOffTypes]
GO
ALTER TABLE [dbo].[OrderDishItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderDishItems_Dishes] FOREIGN KEY([DishId])
REFERENCES [dbo].[Dishes] ([Id])
GO
ALTER TABLE [dbo].[OrderDishItems] CHECK CONSTRAINT [FK_OrderDishItems_Dishes]
GO
ALTER TABLE [dbo].[OrderDishItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderDishItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDishItems] CHECK CONSTRAINT [FK_OrderDishItems_Orders]
GO
ALTER TABLE [dbo].[OrderDrinkItemModifiers]  WITH CHECK ADD  CONSTRAINT [FK_OrderDrinkItemModifiers_Ingredients_Coffee] FOREIGN KEY([CoffeeIngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[OrderDrinkItemModifiers] CHECK CONSTRAINT [FK_OrderDrinkItemModifiers_Ingredients_Coffee]
GO
ALTER TABLE [dbo].[OrderDrinkItemModifiers]  WITH CHECK ADD  CONSTRAINT [FK_OrderDrinkItemModifiers_Ingredients_Milk] FOREIGN KEY([MilkIngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[OrderDrinkItemModifiers] CHECK CONSTRAINT [FK_OrderDrinkItemModifiers_Ingredients_Milk]
GO
ALTER TABLE [dbo].[OrderDrinkItemModifiers]  WITH CHECK ADD  CONSTRAINT [FK_OrderDrinkItemModifiers_OrderDrinkItems] FOREIGN KEY([OrderDrinkItemId])
REFERENCES [dbo].[OrderDrinkItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDrinkItemModifiers] CHECK CONSTRAINT [FK_OrderDrinkItemModifiers_OrderDrinkItems]
GO
ALTER TABLE [dbo].[OrderDrinkItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderDrinkItems_Drinks] FOREIGN KEY([DrinkId])
REFERENCES [dbo].[Drinks] ([Id])
GO
ALTER TABLE [dbo].[OrderDrinkItems] CHECK CONSTRAINT [FK_OrderDrinkItems_Drinks]
GO
ALTER TABLE [dbo].[OrderDrinkItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderDrinkItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDrinkItems] CHECK CONSTRAINT [FK_OrderDrinkItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Discounts] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discounts] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Discounts]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[OrderStatuses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderTypes] FOREIGN KEY([OrderTypeId])
REFERENCES [dbo].[OrderTypes] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderTypes]
GO
ALTER TABLE [dbo].[OrderToppingItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderToppingItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderToppingItems] CHECK CONSTRAINT [FK_OrderToppingItems_Orders]
GO
ALTER TABLE [dbo].[OrderToppingItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderToppingItems_Toppings] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[ToppingsAndSyrups] ([Id])
GO
ALTER TABLE [dbo].[OrderToppingItems] CHECK CONSTRAINT [FK_OrderToppingItems_Toppings]
GO
ALTER TABLE [dbo].[Preparations]  WITH CHECK ADD  CONSTRAINT [FK_Preparations_SemiFinished] FOREIGN KEY([SemiFinishedId])
REFERENCES [dbo].[SemiFinished] ([Id])
GO
ALTER TABLE [dbo].[Preparations] CHECK CONSTRAINT [FK_Preparations_SemiFinished]
GO
ALTER TABLE [dbo].[PreparationTasks]  WITH CHECK ADD  CONSTRAINT [FK_PreparationTasks_SemiFinished] FOREIGN KEY([SemiFinishedId])
REFERENCES [dbo].[SemiFinished] ([Id])
GO
ALTER TABLE [dbo].[PreparationTasks] CHECK CONSTRAINT [FK_PreparationTasks_SemiFinished]
GO
ALTER TABLE [dbo].[SemiFinished]  WITH CHECK ADD  CONSTRAINT [FK_SemiFinished_SemiFinishedCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[SemiFinishedCategories] ([Id])
GO
ALTER TABLE [dbo].[SemiFinished] CHECK CONSTRAINT [FK_SemiFinished_SemiFinishedCategories]
GO
ALTER TABLE [dbo].[SemiFinished]  WITH CHECK ADD  CONSTRAINT [FK_SemiFinished_TechnicalCards] FOREIGN KEY([TechnicalCardId])
REFERENCES [dbo].[TechnicalCards] ([Id])
GO
ALTER TABLE [dbo].[SemiFinished] CHECK CONSTRAINT [FK_SemiFinished_TechnicalCards]
GO
ALTER TABLE [dbo].[SemiFinished]  WITH CHECK ADD  CONSTRAINT [FK_SemiFinished_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[SemiFinished] CHECK CONSTRAINT [FK_SemiFinished_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_SemiFinishedWriteOffActItems_SemiFinished] FOREIGN KEY([SemiFinishedId])
REFERENCES [dbo].[SemiFinished] ([Id])
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems] CHECK CONSTRAINT [FK_SemiFinishedWriteOffActItems_SemiFinished]
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_SemiFinishedWriteOffActItems_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems] CHECK CONSTRAINT [FK_SemiFinishedWriteOffActItems_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_SemiFinishedWriteOffActItems_WriteOffActs] FOREIGN KEY([WriteOffActId])
REFERENCES [dbo].[WriteOffActs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems] CHECK CONSTRAINT [FK_SemiFinishedWriteOffActItems_WriteOffActs]
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems]  WITH CHECK ADD  CONSTRAINT [FK_SemiFinishedWriteOffActItems_WriteOffTypes] FOREIGN KEY([WriteOffTypeId])
REFERENCES [dbo].[WriteOffTypes] ([Id])
GO
ALTER TABLE [dbo].[SemiFinishedWriteOffActItems] CHECK CONSTRAINT [FK_SemiFinishedWriteOffActItems_WriteOffTypes]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_StaffRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[StaffRoles] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_StaffRoles]
GO
ALTER TABLE [dbo].[TechnicalCardIngredientComposition]  WITH CHECK ADD  CONSTRAINT [FK_TechCardIngComp_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[TechnicalCardIngredientComposition] CHECK CONSTRAINT [FK_TechCardIngComp_Ingredients]
GO
ALTER TABLE [dbo].[TechnicalCardIngredientComposition]  WITH CHECK ADD  CONSTRAINT [FK_TechCardIngComp_TechnicalCards] FOREIGN KEY([TechnicalCardId])
REFERENCES [dbo].[TechnicalCards] ([Id])
GO
ALTER TABLE [dbo].[TechnicalCardIngredientComposition] CHECK CONSTRAINT [FK_TechCardIngComp_TechnicalCards]
GO
ALTER TABLE [dbo].[TechnicalCardIngredientComposition]  WITH CHECK ADD  CONSTRAINT [FK_TechCardIngComp_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[TechnicalCardIngredientComposition] CHECK CONSTRAINT [FK_TechCardIngComp_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[TechnicalCardSemiFinishedComposition]  WITH CHECK ADD  CONSTRAINT [FK_TechCardSemiComp_SemiFinished] FOREIGN KEY([SemiFinishedId])
REFERENCES [dbo].[SemiFinished] ([Id])
GO
ALTER TABLE [dbo].[TechnicalCardSemiFinishedComposition] CHECK CONSTRAINT [FK_TechCardSemiComp_SemiFinished]
GO
ALTER TABLE [dbo].[TechnicalCardSemiFinishedComposition]  WITH CHECK ADD  CONSTRAINT [FK_TechCardSemiComp_TechnicalCards] FOREIGN KEY([TechnicalCardId])
REFERENCES [dbo].[TechnicalCards] ([Id])
GO
ALTER TABLE [dbo].[TechnicalCardSemiFinishedComposition] CHECK CONSTRAINT [FK_TechCardSemiComp_TechnicalCards]
GO
ALTER TABLE [dbo].[TechnicalCardSemiFinishedComposition]  WITH CHECK ADD  CONSTRAINT [FK_TechCardSemiComp_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[TechnicalCardSemiFinishedComposition] CHECK CONSTRAINT [FK_TechCardSemiComp_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[ToppingsAndSyrups]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ToppingCategories] ([id])
GO
ALTER TABLE [dbo].[ToppingsAndSyrups]  WITH CHECK ADD  CONSTRAINT [FK_Toppings_TechnicalCards] FOREIGN KEY([TechnicalCardId])
REFERENCES [dbo].[TechnicalCards] ([Id])
GO
ALTER TABLE [dbo].[ToppingsAndSyrups] CHECK CONSTRAINT [FK_Toppings_TechnicalCards]
GO
ALTER TABLE [dbo].[ToppingsAndSyrups]  WITH CHECK ADD  CONSTRAINT [FK_Toppings_UnitsOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitsOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[ToppingsAndSyrups] CHECK CONSTRAINT [FK_Toppings_UnitsOfMeasure]
GO
ALTER TABLE [dbo].[WriteOffActs]  WITH CHECK ADD  CONSTRAINT [FK_WriteOffActs_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[WriteOffActs] CHECK CONSTRAINT [FK_WriteOffActs_Staff]
GO
USE [master]
GO
